# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefile dependency-lists
*.d

# Eclipse annoying file
language.settings.xml

# Debug builds' folders
/cross-debug/
/linux-debug/
/windows-debug/

# cplanets executables
cplanets