# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefile dependency-lists
*.d

# Eclipse local configuration files
language.settings.xml
org.eclipse.cdt.managedbuilder.core.prefs

# Eclipse build folders
/tests-geometry/
/cross-debug/
/cross-release/
/linux-gcc-debug/
/linux-gcc-release/
/mingw-debug/
/mingw-release/
/msvc-release/

# cplanets executables
cplanets
